.subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    display: inline-block;
    gap: 120px;
}

.text{
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    color: #DB4444;
    border-left: solid 20px #DB4444;
    border-radius: 5px;
    padding: 10px;
}

.second{
    display: flex;
    gap: 450px;
}

.text2{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 13px;
    font-size: 35px;
}

.doubleelements{
    display: flex;
    gap: 130px;
}


